@charset "utf-8";

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} */

html, body {
  // font-size: 28px;
  width: 100%;
  height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  font-size: 100%;
  user-select: initial;
  -webkit-appearance: none;/* ios 移除input默认样式 */
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

ol,
ul,
li {
  list-style: none
}


a:hover {
  text-decoration: none
}

ins,
a {
  text-decoration: none
}


img {
  border: 0;
}
button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

/* 输入框placeholder颜色 */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}
/* 滚动条 */
::-webkit-scrollbar {
    display: none;
  }
  // chrome浏览器记住密码时出现的黄色背景
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}


.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
