// base color
$blue: rgb(0, 160, 249);
$gray: #f5f5f5;
$red: #e7574f;
$green: #90cf04;
$yellow: #fec171;
$fontColor: rgb(40, 40, 40);
$fontColorGray: rgb(137, 137, 137);
$borderColor: #cdcdcd;

$sideBarWidth: 210px;

